<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.ve.module.android">

    <application
            android:name=".WazMainApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="玩安卓"
            android:networkSecurityConfig="@xml/network_security_config"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:replace="android:theme"
            android:usesCleartextTraffic="true"
            tools:targetApi="n">

        <activity
                android:name=".ui.page.splash.SplashActivity"
                android:theme="@style/SplashTheme"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
                android:name=".WazMainActivity"
                android:launchMode="singleTask" />

        <activity android:name=".ui.page.activity.AgentWebActivity"/>
        <activity android:name=".ui.page.search.SearchActivity"/>
        <activity android:name=".ui.page.activity.ShareActivity"/>
        <activity android:name=".ui.page.todo.TodoActivity"/>
        <activity android:name=".ui.page.setting.SettingsActivity" />
        <activity android:name=".ui.page.activity.ScoreActivity"/>
        <activity android:name=".ui.page.activity.RankActivity"/>
        <activity android:name=".ui.page.user.LoginActivity"/>
        <activity android:name=".ui.page.user.RegisterActivity"/>
        <activity android:name=".ui.page.activity.ArticleDetailActivity" />
        <activity android:name=".ui.page.activity.CommonActivity"/>

    </application>

</manifest>